## [ Main Scripts ] ##  
ensure Ethnic-inventory
ensure Ethnic-ui        
ensure Ethnic-business
ensure Ethnic-jobs
ensure Ethnic-heists
ensure Ethnic-polyzone

# ## [ Scripts ] ##
ensure Ethnic-menu
ensure Ethnic-assets
ensure Ethnic-police
ensure Ethnic-weathersync
ensure Ethnic-weapons
ensure Ethnic-hospital
ensure Ethnic-doors
ensure Ethnic-items
ensure Ethnic-clothing
ensure Ethnic-financials
ensure Ethnic-stores
ensure Ethnic-cityhall
ensure Ethnic-apartment
ensure Ethnic-interiors
ensure Ethnic-bennys
ensure Ethnic-housing
ensure Ethnic-phone
ensure Ethnic-vehicles
ensure Ethnic-admin
ensure Ethnic-pdm      
ensure Ethnic-casino
ensure Ethnic-cleanup
ensure Ethnic-grapple
ensure Ethnic-misc
ensure Ethnic-mdw
ensure Ethnic-illegal
ensure Ethnic-scenes
ensure Ethnic-pool
ensure Ethnic-loading
ensure Ethnic-animations
ensure Ethnic-voice
ensure Ethnic-chat
ensure Ethnic-ELS

### Assets ###

# Default
ensure map-247
ensure map-billiard
ensure map-cityhall
ensure map-bobcat
ensure map-casino
ensure map-crimeschool
ensure map-crypt
ensure map-hub
ensure map-lscustoms
ensure map-methlabs
ensure map-gallery
ensure map-hayes
ensure map-tavern
ensure map-yoga
ensure map-digitalden
ensure map-huntingstore
ensure map-police-vespucci
ensure map-mrp
ensure map-ottos
ensure map-paletomarket
ensure map-parkranger
ensure map-prison
ensure map-ranch
ensure map-sandyclinic
ensure map-sandycloth
ensure map-sandypd
ensure map-showroomsmlo
ensure map-spawnstation
ensure map-viceroy
ensure map-vu-bathtub
ensure map-burgershot
ensure map-church
ensure map-comedy
ensure map-containers
ensure map-fightclub
ensure map-petstore
ensure map-news-lsbn
ensure map-weazelnews
ensure map-billboards
ensure map-beanmachine
ensure map-carmeet
ensure map-bowlingalley
ensure map-catcafe
ensure map-tuners
ensure map-roads
ensure map-extraveg

# extra houses

ensure map-houses


# Vehicles
ensure cfx-Ethnic-vehicles
ensure cfx-Ethnic-dutyvehicles
ensure cfx-Ethnic-vehicleconfig
ensure cfx-Ethnic-audio

# Other
# ensure cfx-Ethnic-misc
ensure cfx-Ethnic-peds
ensure cfx-Ethnic-clothing
ensure cfx-Ethnic-streaming
ensure cfx-Ethnic-weapons
ensure cfx-Ethnic-weapons-melee
ensure cfx-Ethnic-weapons-old
ensure cfx-Ethnic-weapons-thrown
ensure cfx-Ethnic-weaponmetas
ensure cfx-extra-peds
ensure cfx-extracars
